[package]
name = "tjing"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cynic = { version = "2.2.8", features = ["http-surf"] }
surf = "2.3.2"
syn = "1.0.109"
log = "0.4.17"
serde = "1.0.154"
serde_json = "1.0.94"
clap = "4.1.8"
anyhow = "1.0.69"
google-sheets4 = "*"
hyper = "0.14.25"
hyper-rustls = "0.23.2"
yup-oauth2 = "8.1.0"
paste = "1.0.12"
quote = "1.0.24"

[dependencies.tokio]
version = "*"
features = ["full"]


[dev-dependencies]
insta = "1"
