<select id="round-dropdown" {{#each rounds as |round|}}{{#if round.selected}}value="{{round.number}}"{{/if}}{{/each}}
        hx-trigger="change" hx-post="/round/set" hx-include="[round='selected']">
    <option value="">Select Round</option>
    {{#each rounds as |round|}}
        <option value="{{round.number}}"
                {{#if round.selected}}selected{{/if}} hx-post="/round/{{round.number}}/set">{{round.number}}</option>
    {{/each}}
</select>