<select id="division-dropdown" {{#each divisions as |division|}}{{#if division.focused}}value="{{division.name}}"{{/if}}{{/each}} hx-trigger="change" hx-post="/div/set" hx-include="[division='selected']">
    <option value="">Select Division</option>
    {{#each divisions as |division|}}
        <option value="{{division.name}}" {{#if division.focused}}selected{{/if}} hx-post="/div/{{division.name}}/set">{{division.name}}</option>
    {{/each}}
</select>