[package]
name = "levandevideo-rust"
version = "0.1.0"
authors = ["Edvin Bryntesson <epost@edvinbryntesson.se>"]
edition = "2021"

[lib]
crate-type = ["cdylib"]

[features]
default = ["console_error_panic_hook"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cynic = { version = "3.4.3" }
syn = "2.0.52"
log = "0.4.21"
serde = "1.0.197"
serde_json = "1.0.114"
clap = "4.5.3"
anyhow = "1.0.81"
paste = "1.0.14"
quote = "1.0.35"
wasm-bindgen = "0.2.92"
wasm-bindgen-futures = "0.4.42"
console_error_panic_hook = { version = "0.1.7", optional = true }
getrandom = { version = "0.2.12", features = ["js"] }
reqwest = { version = "0.11.26", features = ["json", "blocking", "wasm-streams"] }
js-sys = "0.3.69"
regex = "1.10.3"
serde-wasm-bindgen = "0.6.5"
wasm-bindgen-test = "0.3.42"
cynic-codegen = "3.5.0"
wasm-macros = {path = "wasm_macros" }
web-sys = {version =  "0.3.69",features = ["Headers", "Request", "RequestInit", "RequestMode", "Response"] }
tokio = {version =  "1.36.0", features = ["rt", "io-util",] }
futures = "0.3.30"

[dev-dependencies]
tokio-test = "0.4.4"
wasm-bindgen-test = "0.3.42"


[build-dependencies]
cynic-codegen = "3.5.0"

[workspace]
members = ["wasm_macros", "."]
